* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("login_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.navbar1 {
    overflow: hidden;
    background-color: #0c136d;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 80px;
    max-height: 80px;
    text-align: center;
    vertical-align: middle;
}


/* .navbar1 a {
color: #f2f2f2;
padding: 14px 16px;
margin: 7px;
text-decoration: none;
font-family: 'Lora', serif;
vertical-align: middle;
} */

.navbar1 img{
    /* margin-top: 10px; */
    max-height: 80px;
}

.navbar1 #logo{
    border-style: none;
}

.info fieldset{
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    max-width: 500px;
    padding: 30px;
    padding-left: 60px;
    padding-top: 40px;
    margin: 20px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: 100px;
    border-radius: 20px;
}

.info label{
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.info input{
    margin: 7px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 3px;
    font-size: 0.8rem;
    max-width: 300px;
    border-radius: 3px;
}

#login{
    font-size: 16px;
    max-width: 150px;
    margin-left: auto;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
}

.info fieldset .register_req {
    justify-content: center;
    display: flex;
}


#Register{
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
}
  

